<% title "Question" %>

<p>
  <strong>Question:</strong>
  <%= @question.question %>
</p>

<p>
  <%= link_to "Edit", edit_survey_question_path(@survey, @question) %> |
  <%= link_to "Destroy", [@survey, @question], :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "Back to survey", @survey %>
</p>
